@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
nav{
    background-color: #4158D0;
    background-image: linear-gradient(32deg, #4158D0 0%, #50a0c8 46%, #FFCC70 100%);

    height: 80px;
    width: 100%;

}
label.logo{
    color:white;
    font-size: 35px;
    line-height: 75px;
    padding: 0 60px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
nav ul li a{
    padding: 7px 13px;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    text-transform: uppercase;

}
a.active,a:hover{
    background:#1b9bff;
    transition: 1s;

}
.checkbtn{
    font-size:30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display:none;
}
#check{
    display: none;

}
@media(max-width:952px){
    label.logo{
        font-size:30px;
        padding-left:50px;

    }
    nav ul li a{
        font-size:16px;


    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;

    }
    ul{
        position: fixed;
        width:100%;
        height:100vh;
        background: #2c3e50;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;

    }
    nav ul li a{
        font-size: 20px;

    }
    a::hover, a.active{
        background: none;
        color:#0082e6;
    }
    #check:checked ~ul{
        left: 0;

    }
}
.section{
    background-image: url(https://lh3.googleusercontent.com/proxy/14uErTWLZuslT9z5X2TQhBvVn1tWyAa4WIi6_VCyI5IIhwuKZACHdh4IRxO8HkDgwbnXi_SmN8qWs-gArkQiyKcWN0aYMR4EVEgibfYViGXkf_eoiVEgAZO_2B4HHaV4Ty1kd9IMADxcvVKY6Sn0RVpNmlPPH7u4OfreUtrLZV6F0SL2hcaGE8O9Z5iJTQCdVgGQEBiQwhTfobigP0J25hNv1hEcfY6BtLz4Y9YssihJAdx9YmT5XJW80d_CBaKzcWEynW_EU84Fh3cA6b4gagm231le6kLtIOq3LOXMYNPCTZipjA) no-repeat;
    background-size: cover;
    height: calc(100vh-80px);

}