.card{
    position: relative;
    height: 500px;
    width: 300px;
    background-color: #ecf0f1;
    margin: auto;
    border-radius: 9%;

}

.header{
    border-radius: 9%;
    position: absolute;
    height : 240px;
    left: 0;
    right: 0;
    top: 0;

    background-image: linear-gradient(to right,#1dd1a1,#1abc9c);
}
.header img{
    position: absolute;
    height: 130px;
    width: 270px;
    border-radius: 9%;
    left:15px;
    top:45px;
    
}
.header h3{ /*스터디 이름*/
    position: absolute;
    font-family: sans-serif;
    color: white;
    font-size:26px;
    font-weight: 600;
    letter-spacing: 1px;
    top:180px;
    left:56px;

}

.header p{
    position: absolute;
    font-family: sans-serif;
    color: rgb(236, 233, 233);
    font-size: 13px;
    top: 166px;
    left:90px;
}

.body{
    border-radius: 9%;
    position: absolute;
    height: 126px;
    left: 5px;
    right: 5px;
    top: 52%;
    background-color:lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.body ul{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

body ul li {
    position: absolute;
    list-style: none;
    display: block;
    height: 40px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: white;
    transition: all .3s ease-in-out;
}

.body ul li p,h3,i{
    position: absolute;
}


.body ul li h3{
    top: -17px;
    left: 58px;
    color: #576574;
}

.body ul li p{
    top: 14px;
    left: 59px;
    font-size: 12px;
    font-family: sans-serif;
    color: 576574;
}

.body ul li i {
    left: 8px;
    top: 7px;
    color: 16a085;
    font-size: 26px;
}

.body ul li:nth-child(1){
    top: -16px;
}

.body ul li:nth-child(2){
    top: 26px;
}

.body ul li:nth-child(3){
    top: 68px;
}
.body ul li:nth-child(4){
    top:110px;
}
.body ul li:nth-child(1) i {
    top: 12 px;
}

.body li:hover{
    background-color: whitesmoke;
    cursor: pointer;

}


footer ul li:hover i {
    transform: scale(0.9);
    color: #1dd1a1;
    cursor: pointer;
    border-bottom: 2px solid #1dd1a1;
}
.apply{
    position: absolute;
    border-radius: 20px;
    height: auto;
    right: 40%;
    bottom: -130%;
}

.ttl{
    background-color: black;
    color: whitesmoke;
    height: 150px;
}